$default: (
    primary: theme('colors.blue.500'),
    secondary: theme('colors.slate.700'),
    success: theme('colors.green.500'),
    warning: theme('colors.yellow.500'),
    danger: theme('colors.red.500'),
    info: theme('colors.blue.500')
);